header {
    display: flex;
    align-items: center;
    padding: 1.5% 6.5%;
}

.header__middle-links {
    margin: 0 30% 0 6.5%;
}

.header__right-links > a, .header__middle-links > a {
    margin: 0 1em;
    text-decoration: none;
    color: var(--light-font-color);
    font-weight: 400;
}

.right-links__signin {
    background-color: var(--main-color);
    border-radius: 0.5em;
    display: inline-block;
    color: var(--white) !important; 
    padding: 1em 1.25em;
}


